<?xml version="1.0" encoding="utf-8"?>
<uses-permission android:name="android.permission.INTERNET" />
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pdftoimg">

    <application
        android:allowBackup="true"
        android:label="pdf2img">
        <activity
            android:name=".MainActivity"
            android:label="pdf2img">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
